<%= form_with model: course do |form| %>
<div class="m-2">
	<%= form.label :course_name, class: "form-label" %><br>
	<%= form.text_field :course_name, class: "form-control" %>
</div>

<div class="m-2">
	<%= form.label :course_details, class: "form-label" %><br>
	<%= form.text_field :course_details, class: "form-control" %>
</div>

<div class="m-2">
	<%= form.label :course_duration, class: "form-label" %><br>
	<%= form.text_field :course_duration, class: "form-control" %>
</div>

<div class="m-2">
	<%= form.label :category_id, class: "form-label" %><br>
	<%= form.text_field :category_id, class: "form-control" %>
</div>

<center>
<div class="m-2">
<%= form.submit %>
</div>
</center>
<% end %>