<%= form_with model: course do |form| %>
<div>
	<%= form.label :course_name %><br>
	<%= form.text_field :course_name %>
</div>

<div>
	<%= form.label :course_details %><br>
	<%= form.text_area :course_details %>
</div>

<div>
	<%= form.label :course_duration %><br>
	<%= form.text_field :course_duration %>
</div>

<div>
	<%= form.label :category_id %><br>
	<%= form.text_field :category_id %>
</div>

<div>
<%= form.submit %>
</div>
<% end %>